#board-backdrop {
  background-image: url('../../assets/board_backdrop.jpg');
}

.board {
  border: solid red;
  width: 449px;
  height: 299.012848px;
  background-image: url(../../assets/map.jpg);
  background-size: contain;
  box-sizing: content-box;
}

@media (min-width: 1024px) {
  .board {
    width: 768px;
    height: 511.57px;
  }
}

@media (min-width: 1280px) {
  .board {
    width: 960px;
    max-height: 639.45px;
  }
}

@media (min-width: 1536px) {
  .board {
    width: 1128px;
    max-height: 767.2px;
  }
}
